* {
    margin:0;
    padding:0;
    width: 1000px;
}
/* ************************************************************* */
/* générale*/





/* ************************************************************* */
/* partie navigation */


/* ************************************************************* */
/* partie presentation logo + barre de recherche */




/* ************************************************************* */
/* partie recommandation */


/* ************************************************************* */
/* partie description des livres */

/* ************************************************************* */
/* partie footer*/